@charset "UTF-8";

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

* {
  font-family: "NanumBarunGothic";
}

a:hover {
  color: inherit;
}

body {
  background-color: #eff0f2;
}

.header {
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #dcdde0;
  background-color: white;
}

.menu {
  margin: 0 auto;
  max-width: 980px;
  position: relative;
}

.menu-logo {
  display: inline-block;
  margin-top: 23px;
}

.menu-nav {
  position: absolute;
  top: 23px;
  right: 0;
}

.menu-nav__ul {
  display: flex;
}

.menu-nav__ul li {
  margin-left: 26px;
}

main {
  margin: 35px auto;
  max-width: 980px;
}

.main-carousel__first,
.main-carousel__second {
  position: relative;
}

.main-carousel__first--txt,
.main-carousel__second--txt {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.main-carousel__first--txt strong,
.main-carousel__second--txt strong {
  display: block;
  font-size: 52px;
}

.main-carousel__first--txt span,
.main-carousel__second--txt span {
  display: inline-block;
  width: 250px;
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 20px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.carousel-item img {
  object-fit: cover;
  min-height: 310px;
}

.main-nav__ul {
  display: flex;
  font-size: 21px;
}

.main-nav__ul li {
  width: 245px;
  padding: 55px 0;
  text-align: center;
  background-color: white;
  z-index: -10;
}

.main-nav__ul li:not(:last-child) {
  border-right: 1px solid #e6e6e6;
}

.pop-new {
  position: relative;
  top: 0;
  left: 12px;
  color: white;
  font-size: 16px;
  line-height: 20px;
}
.pop-new::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: -3px;
  left: -5px;
  width: 30px;
  height: 22px;
  border-radius: 30px;
  background-color: #2db400;
  z-index: -1;
}

.pop-new.circle::before {
  left: -6px;
  width: 22px;
}

.culture-report {
  margin: 20px 0 120px;
  background-color: white;
}

.culture-cont {
  padding: 50px 50px 30px;
}

.culture-cont h3 {
  font-size: 18px;
  font-weight: bold;
}

.culture-tit {
  display: block;
  width: 100%;
  height: 215px;
  background-image: url("img/culture-report.jpg");
  background-size: cover;
  background-position-y: 70%;
  line-height: 4.5em;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.culture-ul {
  margin: 17px 0 40px;
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
  height: 340px;
  justify-content: space-between;
}

.culture-li {
  box-sizing: border-box;
  width: 280px;
  height: 160px;
  border: 3px solid #f5f5f5;
  text-align: center;
}

.culture-li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.culture-li:hover {
  border-color: #e6e6e6;
}

.culture-li h4 {
  margin: 37px 0 17px;
  font-size: 20px;
  color: #2db400;
  font-weight: bold;
}

.culture-li strong {
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

footer {
  padding: 37px 0;
  border-top: 1px solid #dbdbdb;
  width: 100%;
}

.footer-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  position: relative;
  font-size: 12px;
  letter-spacing: -1.5px;
}

.policy-cprt a strong {
  font-weight: 700;
}

.pc-view {
  display: none;
}

.copyright {
  margin-left: 10px;
  letter-spacing: 0;
}

.rel-site {
  position: absolute;
  right: 0;
}

.rel-site details {
  display: inline-block;
}

.rel-site summary {
  display: inline-block;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  width: 224px;
  height: 34px;
  border: 1px solid #dbdbdb;
}

.rel-site summary::after {
  content: "+";
  font-size: 24px;
  line-height: 7px;
  float: right;
  color: #adadad;
  background: none;
}

details[open] summary {
  background-color: #fff;
}

details[open] summary::after {
  transform: rotate(-45deg);
  /* font-size: 40px; */
  line-height: 8px;
}

.rel-site__ul {
  padding: 15px 20px;
  border: 1px solid #dbdbdb;
  position: absolute;
  bottom: 33px;
  width: 224px;
  background-color: #fff;
  white-space: nowrap;
}

.rel-site__ul li {
  letter-spacing: 0;
  line-height: 2em;
}

@media screen and (max-width: 980px) {
  .header {
    position: absolute;
    background: none;
    z-index: 999;
    border: none;
    color: white;
    padding: 0 20px;
  }

  main {
    margin: 0 auto;
  }

  .main-carousel__first--txt strong,
  .main-carousel__second--txt strong {
    font-size: 27px;
  }

  .main-carousel__first--txt,
  .main-carousel__second--txt {
    font-size: 22px;
  }

  .main-nav__ul {
    flex-wrap: wrap;
    font-size: 18px;
  }

  .main-nav__ul li {
    width: 50%;
    padding: 30px 0 25px;
    border-bottom: 1px solid #f2f2f2;
  }

  .main-nav__ul li:not(:last-child) {
    border-right: 1px solid #f2f2f2;
  }

  .pop-new {
    font-size: 14px;
  }
  .pop-new::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -2px;
    left: -4px;
    width: 26px;
    height: 19px;
    border-radius: 30px;
    background-color: #2db400;
    z-index: -1;
  }
  .pop-new.circle::before {
    left: -5px;
    width: 19px;
  }

  .culture-report {
    margin: 10px 0 120px;
    padding: 25px 20px 0;
  }

  .culture-tit {
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f2f2;
    background: none;
    color: #34d000;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    height: auto;
  }

  .culture-cont {
    padding: 0;
  }

  .culture-cont h3 {
    padding: 30px 0 15px;
    font-size: 17px;
    border-bottom: 2px solid #000;
  }

  .culture-ul {
    margin: 0;
    display: flex;
    flex-wrap: no-wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  .culture-li {
    padding: 10px 0;
    width: 100%;
    height: auto;
    text-align: left;
    border: none;
    border-bottom: 1px solid #f2f2f2;
  }

  .culture-li h4 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
  }

  .culture-li strong {
    font-size: 15px;
    line-height: 1.6em;
    color: #999;
  }

  .culture-li a br {
    display: none;
  }

  .footer-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    position: relative;
    font-size: 14px;
    letter-spacing: -1px;
    text-align: center;
  }

  .policy-cprt {
    color: #b2b2b2;
    font-weight: 400;
  }

  .policy-cprt a strong {
    font-weight: 400;
  }

  .pc-view {
    display: inline-block;
  }

  .rel-site {
    display: none;
  }

  .copyright {
    margin-top: 8px;
    display: block;
  }
}
